/* #region RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #endregion RESETS */

/* #region hero */
.hero-image {
    width: 79rem;
}

/* #endregion hero */

/* #region services */
.service {
    display: grid;
}

/* #endregion services */

/* #region facilities */
/* #endregion facilities */

/* #region sites */
/* #endregion sites */

/* #region advantages */
/* #endregion advantages */

/* #region footer */
/* #endregion footer */